@(payload: ClientPayload)

<div class="hr-divider m-t-lg m-b-md">
    <h3 class="hr-divider-content hr-divider-heading" id="stepDetailNumber">Step 1</h3>
</div>

<div class="row">
    <div class="col-md-4 m-b">
        <div class="list-group">
            <h4 class="list-group-header">
                Progress
            </h4>

            <a class="list-group-item" href="#">
                <span class="list-group-progress" style="width : 62.4% ;"></span>
                <span class="pull-right text-muted">62.4%</span>
                Completed
            </a>

            <a class="list-group-item" href="#">
                <span class="list-group-progress" style="width : 15.0% ;"></span>
                <span class="pull-right text-muted">15.0%</span>
                Avarage Time
            </a>

            <a class="list-group-item" href="#">
                <span class="list-group-progress" style="width : 5.0% ;"></span>
                <span class="pull-right text-muted">5.0%</span>
                Stalled Mark
            </a>

            <a class="list-group-item" href="#">
                <span class="list-group-progress" style="width : 5.0% ;"></span>
                <span class="pull-right text-muted">5.0%</span>
                Restarted Count
            </a>


        </div>
        @*<a href="#" class="btn btn-primary-outline">All countries</a>*@
    </div>
    <div class="col-md-4 m-b">
        <div class="list-group">
            <h4 class="list-group-header">
                Active Terminals
            </h4>

            <a class="list-group-item" href="#">
                <span class="pull-right text-muted">5 min 32 sec</span>
                Terminal 123 [123.234.45.2]
            </a>

            <a class="list-group-item" href="#">
                <span class="pull-right text-muted">15 min 32 sec</span>
                Terminal 223 [123.234.45.5]
            </a>

        </div>
        <a href="#" class="btn btn-primary-outline">View all</a>
    </div>
    <div class="col-md-4 m-b">
        <div class="list-group">
            <h4 class="list-group-header">
                Stalled Terminals
            </h4>

            <a class="list-group-item" href="#">
                <span class="pull-right text-muted">5 min 32 sec</span>

                Terminal 123 [123.234.45.2]
            </a>

            <a class="list-group-item" href="#">
                <span class="pull-right text-muted">15 min 32 sec</span>
                Terminal 223 [123.234.45.5]
            </a>

        </div>
        <a href="#" class="btn btn-primary-outline">View all</a>
    </div>
</div>