@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

        <link href="/assets/css/toolkit-inverse.css" rel="stylesheet">

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/chart.js"></script>
        <link href="/assets/css/application.css" rel="stylesheet">

        <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
        </style>

    </head>
    <body>


        <body class="with-top-navbar">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid container-fluid-spacious">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-emphasized" href="/">
                            <span class="icon icon-leaf navbar-brand-icon"></span>
                            ATM RELEASES
                        </a>
                    </div>
                </div>
            </nav>

            <div class="container-fluid container-fluid-spacious">

                @content

                <div class="hr-divider m-t-lg m-b-md">
                    <h3 class="hr-divider-content hr-divider-heading">Step 1</h3>
                </div>

                <div class="row">
                    <div class="col-md-4 m-b">
                        <div class="list-group">
                            <h4 class="list-group-header">
                                Progress
                            </h4>

                            <a class="list-group-item" href="#">
                                <span class="list-group-progress" style="width : 62.4% ;"></span>
                                <span class="pull-right text-muted">62.4%</span>
                                Completed
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="list-group-progress" style="width : 15.0% ;"></span>
                                <span class="pull-right text-muted">15.0%</span>
                                Avarage Time
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="list-group-progress" style="width : 5.0% ;"></span>
                                <span class="pull-right text-muted">5.0%</span>
                                Stalled Mark
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="list-group-progress" style="width : 5.0% ;"></span>
                                <span class="pull-right text-muted">5.0%</span>
                                Restarted Count
                            </a>


                        </div>
                        @*<a href="#" class="btn btn-primary-outline">All countries</a>*@
                    </div>
                    <div class="col-md-4 m-b">
                        <div class="list-group">
                            <h4 class="list-group-header">
                                Stalled Terminals
                            </h4>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">5 min 32 sec</span>

                                Terminal 123 [123.234.45.2]
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">15 min 32 sec</span>
                                Terminal 223 [123.234.45.5]
                            </a>

                        </div>
                        <a href="#" class="btn btn-primary-outline">View all</a>
                    </div>
                    <div class="col-md-4 m-b">
                        <div class="list-group">
                            <h4 class="list-group-header">
                                Devices and resolutions
                            </h4>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">3,929,481</span>
                                Desktop (1920x1080)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">1,143,393</span>
                                Desktop (1366x768)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">938,287</span>
                                Desktop (1440x900)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">749,393</span>
                                Desktop (1280x800)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">695,912</span>
                                Tablet (1024x768)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">501,938</span>
                                Tablet (768x1024)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">392,842</span>
                                Phone (320x480)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">298,183</span>
                                Phone (720x450)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">193,129</span>
                                Desktop (2560x1080)
                            </a>

                            <a class="list-group-item" href="#">
                                <span class="pull-right text-muted">93,382</span>
                                Desktop (2560x1600)
                            </a>

                        </div>
                        <a href="#" class="btn btn-primary-outline">View all</a>
                    </div>
                </div>

            </div>



            <script src="/assets/js/tablesorter.min.js"></script>
            <script src="/assets/js/toolkit.js"></script>
            <script src="/assets/js/application.js"></script>
            <script>
                    // execute/clear BS loaders for docs
                    $(function () {
                        while (window.BS && window.BS.loader && window.BS.loader.length) {
                            (window.BS.loader.pop())()
                        }
                    })
            </script>

            @*<script type="text/javascript">*@
            @*google.charts.load('current', {'packages': ['bar', 'corechart']});*@
            @*google.charts.setOnLoadCallback(drawChart);*@
            @*function drawChart() {*@

            @*var data = google.visualization.arrayToDataTable([*@
            @*['Effort', 'Amount given'],*@
            @*['Started', 130],*@
            @*['Completed', 30]*@

            @*]);*@

            @*var options = {*@
            @*backgroundColor: "#252830",*@
            @*pieHole: 0.5,*@
            @*pieSliceTextStyle: {*@
            @*color: 'white',*@
            @*},*@
            @*legend: 'none'*@
            @*};*@

            @*var chart = new google.visualization.PieChart(document.getElementById('donut_single'));*@
            @*chart.draw(data, options);*@
            @*}*@
            @*</script>*@

        </body>


    </body>
</html>
