@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" rel="stylesheet">

        <link href="/assets/css/toolkit-inverse.css" rel="stylesheet">

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/chart.js"></script>
        <link href="/assets/css/application.css" rel="stylesheet">

        <style>
        /* note: this is a hack for ios iframe for bootstrap themes shopify page */
        /* this chunk of css is not part of the toolkit :) */
        body {
            width: 1px;
            min-width: 100%;
            *width: 100%;
        }
        </style>

    </head>
    <body>


        <body class="with-top-navbar">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid container-fluid-spacious">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-emphasized" href="/">
                            <span class="icon icon-leaf navbar-brand-icon"></span>
                            ATM RELEASES
                        </a>
                    </div>
                </div>
            </nav>

            <div class="container-fluid container-fluid-spacious">

                @content



            </div>



            <script src="/assets/js/tablesorter.min.js"></script>
            <script src="/assets/js/toolkit.js"></script>
            <script src="/assets/js/application.js"></script>
            <script>
                    // execute/clear BS loaders for docs
                    $(function () {
                        while (window.BS && window.BS.loader && window.BS.loader.length) {
                            (window.BS.loader.pop())()
                        }
                    })
            </script>

            @*<script type="text/javascript">*@
            @*google.charts.load('current', {'packages': ['bar', 'corechart']});*@
            @*google.charts.setOnLoadCallback(drawChart);*@
            @*function drawChart() {*@

            @*var data = google.visualization.arrayToDataTable([*@
            @*['Effort', 'Amount given'],*@
            @*['Started', 130],*@
            @*['Completed', 30]*@

            @*]);*@

            @*var options = {*@
            @*backgroundColor: "#252830",*@
            @*pieHole: 0.5,*@
            @*pieSliceTextStyle: {*@
            @*color: 'white',*@
            @*},*@
            @*legend: 'none'*@
            @*};*@

            @*var chart = new google.visualization.PieChart(document.getElementById('donut_single'));*@
            @*chart.draw(data, options);*@
            @*}*@
            @*</script>*@

        </body>


    </body>
</html>
